.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.tables {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;

  @media(max-width: 500px) {
    flex-direction: column;
  }
}